<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Trainbooking</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>

<!-- HIDDEN MESSAGES -->
		<div class="hidden-message hidden">
			<div class="hidden-message-header hidden-message-header_error"></div>
			<h5 class="hidden-message-title">Таким образом консультация с широким активом в значительной степени обуславливает создание модели развития.</h5>
			<p class="hidden-message-text">Повседневная практика показывает, что сложившаяся структура организации играет важную роль в формировании существенных финансовых и административных</p>
			<div class="hidden-message-button-wrapper">
				<div class="hidden-message-button">Понятно</div>
			</div>
		</div>

		<div class="hidden-message hidden">
			<div class="hidden-message-header hidden-message-header_info"></div>
			<h5 class="hidden-message-title hidden-message-title_info">Таким образом консультация с широким активом в значительной степени обуславливает создание модели развития.</h5>
			<p class="hidden-message-text">Повседневная практика показывает, что сложившаяся структура организации играет важную роль в формировании существенных финансовых и административных</p>
			<div class="hidden-message-button-wrapper">
				<div class="hidden-message-button">Понятно</div>
			</div>
		</div>


<!-- CONTENT -->
		<div class="content">

			<header class="header">
				<a class="logo" id="logo-top" href="index.html">Лого</a>
				<nav class="header-navigation">
					<div class="wrapper">
						<ul class="navigation-list">
							<li class="navigation-list__item"><a href="index.html#about-us">О нас</a></li>
							<li class="navigation-list__item"><a href="index.html#features">Как это работает</a></li>
							<li class="navigation-list__item"><a href="index.html#reviews">Отзывы</a></li>
							<li class="navigation-list__item"><a href="index.html#contacts">Контакты</a></li>
						</ul>
					</div>
				</nav>
				<div class="header-form-container">
					<h1 class="header-title">Вся жизнь - <br><strong>путешествие!</strong></h1>	
					<form class="header-form" action="TrainSelection.html">
						<div class="direction">
							<h3 class="header-form-title">Направление</h3>
							<input class="header-form-input" type="text" name="from" placeholder="Откуда">
							<div class="direction-update"></div>
							<input class="header-form-input" type="text" name="to" placeholder="Куда">
						</div>
						<div class="date">
							<h3 class="header-form-title">Дата</h3>
							<input class="header-form-input" type="date" name="arrival">
							<input class="header-form-input" type="date" name="departure">
						</div>
						<input class="header-form-submit" type="submit" name="submit" value="Найти билеты">
					</form>
				</div>
			</header>

			<main>
				<div class="about-us wrapper" id="about-us">
					<h2 class="about-us__title">О нас</h2>
					<p class="about-us__text">Мы рады видеть вас! Мы рботаем для Вас с 2003 года. 14 лет мы наблюдаем, как с каждым днем все больше людей заказывают жд билеты через интернет.</p>
					<p  class="about-us__text">Сегодня можно заказать железнодорожные билеты онлайн всего в 2 клика, но стоит ли это делать?<br>Мы расскажем о преимуществах заказа через интернет.</p>
					<p  class="about-us__text"><strong>Покупать жд билеты дешево можно за 90 суток до отправления поезда. <br>Благодаря динамическому ценообразованию цена на билеты в это время самая низкая.</strong></p>
				</div>

				<div class="features" id="features">
					<div class="wrapper">
						<div class="features-top">
							<h2 class="features-title">Как это работает</h2>
							<div class="features-top-button">
								<a class="features-top-button__link" href="index.html#features">Узнать больше</a>
							</div>
						</div>
						<ul class="features-list">
							<li class="features-list__item">Удобный заказ на сайте</li>
							<li class="features-list__item">Нет необходимости ехать в офис</li>
							<li class="features-list__item">Огромный выбор направлений</li>
						</ul>
					</div>
				</div>

				<div class="reviews wrapper" id="reviews">
					<h2>Отзывы</h2>
		
					<div class="slider" data-pos="0">
						<div class="slider__slides">
							<ul class="slider__slide reviews-slider">
								<li class="reviews-slider__item reviews-slider__item_kate">
									<p class="reviews-slider-name">Екатерина Вальнова</p>
									<cite class="reviews-slider-cite">&quot;Доброжелательные подсказки на всех этапах помогут правильно заполнить поля и без затруднений купить авиа или ж/д билет, даже если вы заказываете онлайн билет впервые.&quot;</cite>
								</li>
								<li class="reviews-slider__item reviews-slider__item_evgeniy">
									<p class="reviews-slider-name">Евгений Стрыкало</p>
									<cite class="reviews-slider-cite">&quot;СМС-сопровождение до посадки Сразу после оплаты ж/д билетов и за 3 часа до отправления мы пришлем вам СМС-напоминание о поездке.&quot;</cite>
								</li>
							</ul>

							<ul class="slider__slide reviews-slider">
								<li class="reviews-slider__item reviews-slider__item_evgeniy">
									<p class="reviews-slider-name">Евгений Стрыкало</p>
									<cite class="reviews-slider-cite">&quot;СМС-сопровождение до посадки Сразу после оплаты ж/д билетов и за 3 часа до отправления мы пришлем вам СМС-напоминание о поездке.&quot;</cite>
								</li>
								<li class="reviews-slider__item reviews-slider__item_kate">
									<p class="reviews-slider-name">Екатерина Вальнова</p>
									<cite class="reviews-slider-cite">&quot;Доброжелательные подсказки на всех этапах помогут правильно заполнить поля и без затруднений купить авиа или ж/д билет, даже если вы заказываете онлайн билет впервые.&quot;</cite>
								</li>
							</ul>

							<ul class="slider__slide reviews-slider">
								<li class="reviews-slider__item reviews-slider__item_kate">
									<p class="reviews-slider-name">Екатерина Вальнова</p>
									<cite class="reviews-slider-cite">&quot;Доброжелательные подсказки на всех этапах помогут правильно заполнить поля и без затруднений купить авиа или ж/д билет, даже если вы заказываете онлайн билет впервые.&quot;</cite>
								</li>
								<li class="reviews-slider__item reviews-slider__item_evgeniy">
									<p class="reviews-slider-name">Евгений Стрыкало</p>
									<cite class="reviews-slider-cite">&quot;СМС-сопровождение до посадки Сразу после оплаты ж/д билетов и за 3 часа до отправления мы пришлем вам СМС-напоминание о поездке.&quot;</cite>
								</li>
							</ul>

							<ul class="slider__slide reviews-slider">
								<li class="reviews-slider__item reviews-slider__item_evgeniy">
									<p class="reviews-slider-name">Евгений Стрыкало</p>
									<cite class="reviews-slider-cite">&quot;СМС-сопровождение до посадки Сразу после оплаты ж/д билетов и за 3 часа до отправления мы пришлем вам СМС-напоминание о поездке.&quot;</cite>
								</li>
								<li class="reviews-slider__item reviews-slider__item_kate">
									<p class="reviews-slider-name">Екатерина Вальнова</p>
									<cite class="reviews-slider-cite">&quot;Доброжелательные подсказки на всех этапах помогут правильно заполнить поля и без затруднений купить авиа или ж/д билет, даже если вы заказываете онлайн билет впервые.&quot;</cite>
								</li>
							</ul>

							<ul class="slider__slide reviews-slider">
								<li class="reviews-slider__item reviews-slider__item_kate">
									<p class="reviews-slider-name">Екатерина Вальнова</p>
									<cite class="reviews-slider-cite">&quot;Доброжелательные подсказки на всех этапах помогут правильно заполнить поля и без затруднений купить авиа или ж/д билет, даже если вы заказываете онлайн билет впервые.&quot;</cite>
								</li>
								<li class="reviews-slider__item reviews-slider__item_evgeniy">
									<p class="reviews-slider-name">Евгений Стрыкало</p>
									<cite class="reviews-slider-cite">&quot;СМС-сопровождение до посадки Сразу после оплаты ж/д билетов и за 3 часа до отправления мы пришлем вам СМС-напоминание о поездке.&quot;</cite>
								</li>
							</ul>
						</div>

						<ul class="slider__dots">
							<li class="slider__dot" onclick="currentSlide(1)"></li>
							<li class="slider__dot" onclick="currentSlide(2)"></li>
							<li class="slider__dot" onclick="currentSlide(3)"></li>
							<li class="slider__dot" onclick="currentSlide(4)"></li>
							<li class="slider__dot" onclick="currentSlide(5)"></li>
						</ul>
					</div>
				</div>
			</main>

			<footer class="footer">
				<div class="footer-top wrapper">
					<div class="footer-top-contacts">
						<h3 class="footer-top-title">Свяжитесь с нами</h3>
						<ul class="footer-top-contacts-list">
							<li class="footer-top-phone"><a href="tel:+78000000000">8 (800) 000 00 00</a></li>
							<li class="footer-top-email"><a href="mailto:inbox@mail.ru">inbox@mail.ru</a></li>
							<li class="footer-top-skype"><a href="skype:tu.train.tickets?call">tu.train.tickets</a></li>
							<li class="footer-top-address">г.Москва<br>ул.Московская 27-35<br>555 555</li>
						</ul>
					</div>
					<div class="footer-top-social">
						<h3 class="footer-top-title">Подписка</h3>
						<p class="footer-top-text">Будьте в курсе событий</p>
						<form class="footer-top-social-form" action="#">
							<input class="footer-top-social-email" type="email" name="email" placeholder="e-mail">
							<input class="footer-top-social-submit" type="submit" name="submit">
						</form>
						<div class="footer-top-social-links">
							<h3 class="footer-top-title">Подписывайтесь на нас</h3>
							<ul class="footer-top-links">
								<li><a class="youtube" href="#"></a></li>
								<li><a class="linkedIn" href="#"></a></li>
								<li><a class="google" href="#"></a></li>
								<li><a class="facebook" href="#"></a></li>
								<li><a class="twitter" href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer-bottom wrapper" id="contacts">
					<a class="logo" href="index.html">Лого</a>
					<div class="totop" onclick='document.getElementById("logo-top").scrollIntoView({behavior: "smooth"});'></div>
					<div class="date">2018 WEB</div>
				</div>
			</footer>
		</div>
		<script type="text/javascript" src="js/index.js"></script>
	</body>
</html>