<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Trainbooking</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<header class="header order-done">
			<a class="logo" id="logo-top" href="index.html">Лого</a>
			<nav class="header-navigation">
				<div class="wrapper">
					<ul class="navigation-list">
						<li class="navigation-list__item"><a href="index.html#about-us">О нас</a></li>
						<li class="navigation-list__item"><a href="index.html#features">Как это работает</a></li>
						<li class="navigation-list__item"><a href="index.html#reviews">Отзывы</a></li>
						<li class="navigation-list__item"><a href="index.html#contacts">Контакты</a></li>
					</ul>
				</div>
			</nav>
		</header>

		<div class="main-information order-done">
			<div class="wrapper">
				<h1 class="order-done-header">Благодарим Вас за заказ!</h1>
				<div class="order-done-block">
					<div class="order-number-and-price">
						<p class="order-number">№ Заказа 285АА</p>
						<p class="order-price__text">сумма <span class="order-price__price">7 760 &#x20bd;</span></p>
					</div>
					<div class="order-done-features">
						<ul class="order-done-features-list">
							<li class="order-done-features-list__item">билеты будут отправлены на ваш e-mail</li>
							<li class="order-done-features-list__item"><b>распечатайте</b> и сохраняйте билеты до даты поездки</li>
							<li class="order-done-features-list__item"><b>предьявите</b> распечатанные билеты при посадке</li>
						</ul>
					</div>
					<div class="order-done-letter">
						<h2 class="order-done-letter__title">Ирина Эдуардовна!</h2>
						<p class="order-done-letter__text">Ваш заказ успешно оформлен.<br> В ближайшее время с вами свяжется наш оператор для подтверждения.</p>
						<p class="order-done-letter__text"><b>Благодарим Вас за оказанное доверие и желаем приятного путешествия!</b></p>
					</div>
					<div class="order-service">
						<div class="order-service__wrapper">
							<div class="order-service-value">
								<p class="order-service__text">Оценить сервис</p>
								<ul class="order-service__stars">
									<li class="order-service__star"></li>
									<li class="order-service__star"></li>
									<li class="order-service__star"></li>
									<li class="order-service__star"></li>
									<li class="order-service__star"></li>
								</ul>
							</div>
							<a href="index.html" class="goto-main">Вернуться на главню</a>
						</div>
					</div>
				</div>
			</div>
		</div>


		<footer class="footer">
			<div class="footer-top wrapper">
				<div class="footer-top-contacts">
					<h3 class="footer-top-title">Свяжитесь с нами</h3>
					<ul class="footer-top-contacts-list">
						<li class="footer-top-phone"><a href="tel:+78000000000">8 (800) 000 00 00</a></li>
						<li class="footer-top-email"><a href="mailto:inbox@mail.ru">inbox@mail.ru</a></li>
						<li class="footer-top-skype"><a href="skype:tu.train.tickets?call">tu.train.tickets</a></li>
						<li class="footer-top-address">г.Москва<br>ул.Московская 27-35<br>555 555</li>
					</ul>
				</div>
				<div class="footer-top-social">
					<h3 class="footer-top-title">Подписка</h3>
					<p class="footer-top-text">Будьте в курсе событий</p>
					<form class="footer-top-social-form" action="#">
						<input class="footer-top-social-email" type="email" name="email" placeholder="e-mail">
						<input class="footer-top-social-submit" type="submit" name="submit">
					</form>
					<div class="footer-top-social-links">
						<h3 class="footer-top-title">Подписывайтесь на нас</h3>
						<ul class="footer-top-links">
							<li><a class="youtube" href="#"></a></li>
							<li><a class="linkedIn" href="#"></a></li>
							<li><a class="google" href="#"></a></li>
							<li><a class="facebook" href="#"></a></li>
							<li><a class="twitter" href="#"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-bottom wrapper" id="contacts">
				<a class="logo" href="index.html">Лого</a>
				<div class="totop" onclick='document.getElementById("logo-top").scrollIntoView({behavior: "smooth"});'></div>
				<div class="date">2018 WEB</div>
			</div>
		</footer>
	</body>
</html>

