<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Trainbooking</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<header class="header trainselection">
			<a class="logo" id="logo-top" href="index.html">Лого</a>
			<nav class="header-navigation">
				<div class="wrapper">
					<ul class="navigation-list">
						<li class="navigation-list__item"><a href="index.html#about-us">О нас</a></li>
						<li class="navigation-list__item"><a href="index.html#features">Как это работает</a></li>
						<li class="navigation-list__item"><a href="index.html#reviews">Отзывы</a></li>
						<li class="navigation-list__item"><a href="index.html#contacts">Контакты</a></li>
					</ul>
				</div>
			</nav>

			<div class="header-form-container wrapper trainselection">	
				<form class="header-form" action="TrainSelection.html">
					<div class="direction">
						<h3 class="header-form-title">Направление</h3>
					<input class="header-form-input" type="text" name="from" placeholder="Откуда">
					<div class="direction-update"></div>
					<input class="header-form-input" type="text" name="to" placeholder="Куда">
					</div>
					<div class="date">
						<h3 class="header-form-title">Дата</h3>
						<input class="header-form-input" type="date" name="arrival">
						<input class="header-form-input" type="date" name="departure">
					</div>
					<input class="header-form-submit" type="submit" name="submit" value="Найти билеты">
				</form>
			</div>

			<ul class="order-navigation">
				<li class="order-navigation__list active">
					<span></span>
					<p class="order-navigation__text">Билеты</p>
				</li>
				<li class="order-navigation__list">
					<span></span>
					<p class="order-navigation__text">Пассажиры</p>
				</li>
				<li class="order-navigation__list">
					<span></span>
					<p class="order-navigation__text">Оплата</p>
				</li>
				<li class="order-navigation__list">
					<span></span>
					<p class="order-navigation__text">Проверка</p>
				</li>
			</ul>
		</header>

		<div class="main-information">
			<div class="wrapper">
				<aside class="aside-block">
					<div class="trip-options">
						<form class="aside-date-form" action="#">
							<label class="aside-date-form__text">Дата поездки<br>
								<input class="aside-date-form__input" type="date" name="date">
							</label>
							<label class="aside-date-form__text">Дата возвращения<br>
								<input class="aside-date-form__input" type="date" name="date">
							</label>
						</form>

						<form class="aside-options-choice" action="#">
							<label class="aside-options-choice__label">
								<input type="checkbox" class="aside-options-choice__checkbox" checked>
								<span class="aside-options-choice__text">Купе</span>
							</label>

							<label class="aside-options-choice__label">
								<input type="checkbox" class="aside-options-choice__checkbox">
								<span class="aside-options-choice__text">Плацкарт</span>
							</label>

							<label class="aside-options-choice__label">
								<input type="checkbox" class="aside-options-choice__checkbox">
								<span class="aside-options-choice__text">Сидячий</span>
							</label>

							<label class="aside-options-choice__label">
								<input type="checkbox" class="aside-options-choice__checkbox">
								<span class="aside-options-choice__text">Люкс</span>
							</label>

							<label class="aside-options-choice__label">
								<input type="checkbox" class="aside-options-choice__checkbox" checked>
								<span class="aside-options-choice__text">Wi-Fi</span>
							</label>

							<label class="aside-options-choice__label">
								<input type="checkbox" class="aside-options-choice__checkbox">
								<span class="aside-options-choice__text">Экспресс</span>
							</label>
						</form>

						<form class="aside-price">
							<h4 class="aside-price__title">Стоимость</h4>
							<div class="price-slider-text">
								<div class="price-slider-text__from">от</div>
								<div class="price-slider-text__to">до</div>
							</div>

							<div class="price-slider">
								<input value="0" min="0" max="7000" step="1" type="range" oninput="updatePriceLabels()">
								<input value="4500" min="0" max="7000" step="1" type="range" id="rangeInput" oninput="updatePriceLabels(); amount.value=rangeInput.value">
							</div>

							<div class="price-slider-text-bottom">
								<div class="price-slider-text-bottom__from">1920</div>
								<output class="price-slider__output" name="amount" id="amount" for="rangeInput">4500</output>
								<div class="price-slider-text-bottom__to">7000</div>
							</div>

						</form>

						<div class="direction-to">
							<div class="direction-short-block">
								<h4 class="direction-to__title">Туда</h4>
								<div class="direction-to__more more"></div>
							</div>
							<div class="direction-full-block hidden">
								<h4 class="aside-time__title">Время отбытия</h4>

								<div class="time-slider">
									<input value="0" min="0" max="7000" step="10" type="range" oninput="updatePriceLabels()">
									<input value="7000" min="0" max="7000" step="10" type="range" oninput="updatePriceLabels()">
								</div>

								<div class="price-slider-text-bottom price-slider-text-bottom_margin">
									<div class="price-slider-text-bottom__from">0:00</div>
									<output class="price-slider__output" name="amount" for="rangeInput">11:00</output>
									<div class="price-slider-text-bottom__to">24:00</div>
								</div>

								<h4 class="aside-time__title aside-time__title_right">Время прибытия</h4>

								<div class="time-slider">

									<input value="0" min="0" max="7000" step="10" type="range" oninput="updatePriceLabels()">
									<input value="7000" min="0" max="7000" step="10" type="range" oninput="updatePriceLabels()">
								</div>

								<div class="price-slider-text-bottom">
									<div class="price-slider-text-bottom__from">0:00</div>
									<output class="price-slider__output" name="amount" for="rangeInput">11:00</output>
									<div class="price-slider-text-bottom__to">24:00</div>
								</div>
							</div>
						</div>

						<div class="direction-from">
							<div class="direction-short-block">
								<h4 class="direction-from__title">Обратно</h4>
								<div class="direction-from__more more"></div>
							</div>
							<div class="direction-full-block hidden">
								<h4 class="aside-time__title">Время отбытия</h4>

								<div class="time-slider">
									<input value="0" min="0" max="7000" step="10" type="range" oninput="updatePriceLabels()">
									<input value="7000" min="0" max="7000" step="10" type="range" oninput="updatePriceLabels()">
								</div>

								<div class="price-slider-text-bottom price-slider-text-bottom_margin">
									<div class="price-slider-text-bottom__from">0:00</div>
									<output class="price-slider__output" name="amount" for="rangeInput">11:00</output>
									<div class="price-slider-text-bottom__to">24:00</div>
								</div>

								<h4 class="aside-time__title aside-time__title_right">Время прибытия</h4>

								<div class="time-slider">

									<input value="0" min="0" max="7000" step="10" type="range" oninput="updatePriceLabels()">
									<input value="7000" min="0" max="7000" step="10" type="range" oninput="updatePriceLabels()">
								</div>

								<div class="price-slider-text-bottom">
									<div class="price-slider-text-bottom__from">0:00</div>
									<output class="price-slider__output" name="amount" for="rangeInput">11:00</output>
									<div class="price-slider-text-bottom__to">24:00</div>
								</div>
							</div>
						</div>
					</div>

					<div class="last-tickets">
						<h4 class="last-tickets__title">Последние билеты
						</h4>

						<div class="last-ticket">
							<div class="last-ticket__top">
								<div class="last-ticket__from">
									<p class="last-ticket__from-city">Санкт-Петербург</p>
									<p class="last-ticket__from-station">Курский<br>вокзал</p>
								</div>
								<div class="last-ticket__to">
									<p class="last-ticket__to-city">Самара</p>
									<p class="last-ticket__to-station">Московский<br>вокзал</p>
								</div>
							</div>
							<div class="last-ticket__bottom">
								<ul class="ticket-options">
									<li class="ticket-options__wifi"></li>
									<li class="ticket-options__speed"></li>
									<li class="ticket-options__comfort"></li>
								</ul>
								<p class="last-ticket__price">от <span class="last-ticket__price-number">2 500</span> <span class="last-ticket__price-currency">&#x20bd;</span>
								</p>
							</div>
						</div>

						<div class="last-ticket">
							<div class="last-ticket__top">
								<div class="last-ticket__from">
									<p class="last-ticket__from-city">Москва</p>
									<p class="last-ticket__from-station">Курский<br>вокзал</p>
								</div>
								<div class="last-ticket__to">
									<p class="last-ticket__to-city">Казань</p>
									<p class="last-ticket__to-station">Московский<br>вокзал</p>
								</div>
							</div>
							<div class="last-ticket__bottom">
								<ul class="ticket-options">
									<li class="ticket-options__wifi"></li>
									<li class="ticket-options__speed"></li>
									<li class="ticket-options__comfort"></li>
								</ul>
								<p class="last-ticket__price">от <span class="last-ticket__price-number">3 500</span> <span class="last-ticket__price-currency">&#x20bd;</span>
								</p>
							</div>
						</div>

						<div class="last-ticket">
							<div class="last-ticket__top">
								<div class="last-ticket__from">
									<p class="last-ticket__from-city">Казань</p>
									<p class="last-ticket__from-station">Курский<br>вокзал</p>
								</div>
								<div class="last-ticket__to">
									<p class="last-ticket__to-city">Нижний Новгород</p>
									<p class="last-ticket__to-station">Московский<br>вокзал</p>
								</div>
							</div>
							<div class="last-ticket__bottom">
								<ul class="ticket-options">
									<li class="ticket-options__wifi"></li>
									<li class="ticket-options__speed"></li>
									<li class="ticket-options__comfort"></li>
								</ul>
								<p class="last-ticket__price">от <span class="last-ticket__price-number">3 800</span> <span class="last-ticket__price-currency">&#x20bd;</span>
								</p>
							</div>
						</div>
					</div>
				</aside>

				<main class="main-block">
					<div class="results">
						<div class="results-found">найдено <span class="results-found__number">20</span>
						</div>

						<div class="results-sortby">
							<p class="results-sortby__text">сортировать по: </p>
							<div class="sort-by__selection" tabindex="1">
							  <input class="results-sortby__input" name="select" type="radio" id="opt1" checked>
							  <label for="opt1" class="results-sortby__label">времени</label>
							  <input class="results-sortby__input" name="select" type="radio" id="opt2">
							  <label for="opt2" class="results-sortby__label">стоимости</label>
							  <input class="results-sortby__input" name="select" type="radio" id="opt3">
							  <label for="opt3" class="results-sortby__label">длительности</label>
							</div>
						</div>

						<form class="results-quantity">
							<p class="">показывать по:</p>
							<label>
								<input class="results-quantity__radio" type="radio" name="quantity" checked>
								<span class="results-quantity__text">5</span>
							</label>
							<label>
								<input class="results-quantity__radio" type="radio" name="quantity">
								<span class="results-quantity__text">10</span>
							</label>
							<label>
								<input class="results-quantity__radio" type="radio" name="quantity">
								<span class="results-quantity__text">20</span>
							</label>
						</form>
					</div>

					<div class="tickets">

						<div class="ticket">
							<div class="train-info">
								<div class="train-info__number">116C</div>
								<div class="train-info__direction"><span class="train-info__direction-left">Адлер &#8594;</span><br>Москва &#8594;<br> Санкт-Петербург</div>
							</div>

							<div class="time-info">
								<div class="time-info__direction-to">
									<div class="time-info__departure">
										<div class="time-info__departure-time">00:10</div>
										<div class="time-info__departure-city">Москва</div>
										<div class="time-info__departure-station">Курский вокзал</div>
									</div>
									<div class="time-info__duration">9 : 42</div>
									<div class="time-info__arrival">
										<div class="time-info__arrival-time">09:52</div>
										<div class="time-info__arrival-city">Санкт-Петербург</div>
										<div class="time-info__arrival-station">Ладожский вокзал</div>
									</div>
								</div>
								<div class="time-info__direction-from">
									<div class="time-info__departure">
										<div class="time-info__departure-time">00:10</div>
										<div class="time-info__departure-city">Москва</div>
										<div class="time-info__departure-station">Курский вокзал</div>
									</div>
									<div class="time-info__duration time-info__duration_reverse">9 : 42</div>
									<div class="time-info__arrival">
										<div class="time-info__arrival-time">09:52</div>
										<div class="time-info__arrival-city">Санкт-Петербург</div>
										<div class="time-info__arrival-station">Ладожский вокзал</div>
									</div>
								</div>
							</div>
							<div class="coach-choice">
								<ul class="coaches">
									<li class="coaches__sitting coaches_type">
										<p class="coaches__name">Сидячий</p>
										<div class="coaches__quantity">88</div>
										<div class="coaches__price">от <span class="coaches__price-number">1920</span> <span class="coaches__price-currency">&#x20bd;</span>
										</div>
									</li>
									<li class="coaches__reserved coaches_type">
										<p class="coaches__name">Плацкарт</p>
										<div class="coaches__quantity">52</div>
										<div class="coaches__price">от <span class="coaches__price-number">2530</span> <span class="coaches__price-currency">&#x20bd;</span>
										</div>
									</li>
									<li class="coaches__compartment coaches_type">
										<p class="coaches__name">Купе
										</p>
											<ul class="coaches__name-subnames">
												<li class="coaches__name-subname">
													<div class="coaches__name">верхние</div>
													<div class="coaches__quantity">19</div>
													<div class="coaches__price-number">2920 <span class="coaches__price-currency">&#x20bd;</span>
													</div>
												</li>
												<li class="coaches__name-subname">
													<div class="coaches__name">нижние</div>
													<div class="coaches__quantity">5</div>
													<div class="coaches__price-number">3530 <span class="coaches__price-currency">&#x20bd;</span>
													</div>
												</li>
											</ul>
										<div class="coaches__quantity">24</div>
										<div class="coaches__price">от <span class="coaches__price-number">3820</span> <span class="coaches__price-currency">&#x20bd;</span>
										</div>
									</li>
									<li class="coaches__luxe coaches_type">
										<p class="coaches__name">Люкс</p>
										<div class="coaches__quantity">15</div>
										<div class="coaches__price">от <span class="coaches__price-number">4950</span> <span class="coaches__price-currency">&#x20bd;</span>
										</div>
									</li>
								</ul>
								<ul class="ticket-options">
									<li class="ticket-options__wifi"></li>
									<li class="ticket-options__speed"></li>
									<li class="ticket-options__comfort"></li>
								</ul>
								<a href="PlaceSelection.html" class="place-selection-button">Выбрать места</a>
							</div>
						</div>

						<div class="ticket">
							<div class="train-info">
								<div class="train-info__number">020У</div>
								<div class="train-info__direction">Москва &#8594;<br> Санкт-Петербург<br>&#171;Мегаполис&#187;</div>
							</div>

							<div class="time-info">
								<div class="time-info__direction-to">
									<div class="time-info__departure">
										<div class="time-info__departure-time">00:20</div>
										<div class="time-info__departure-city">Москва</div>
										<div class="time-info__departure-station">Ленинградский вокзал</div>
									</div>
									<div class="time-info__duration">8 : 39</div>
									<div class="time-info__arrival">
										<div class="time-info__arrival-time">08:59</div>
										<div class="time-info__arrival-city">Санкт-Петербург</div>
										<div class="time-info__arrival-station">Московский вокзал</div>
									</div>
								</div>
							</div>

							<div class="coach-choice">
								<ul class="coaches">
									<li class="coaches__compartment coaches_type">
										<p class="coaches__name">Купе</p>
											<ul class="coaches__name-subnames">
												<li class="coaches__name-subname">
													<div class="coaches__name">верхние</div>
													<div class="coaches__quantity">19</div>
													<div class="coaches__price-number">2920 <span class="coaches__price-currency">&#x20bd;</span>
													</div>
												</li>
												<li class="coaches__name-subname">
													<div class="coaches__name">нижние</div>
													<div class="coaches__quantity">5</div>
													<div class="coaches__price-number">3530 <span class="coaches__price-currency">&#x20bd;</span>
													</div>
												</li>
											</ul>
										<div class="coaches__quantity">90</div>
										<div class="coaches__price">от <span class="coaches__price-number">3950</span> <span class="coaches__price-currency">&#x20bd;</span>
										</div>
									</li>
									<li class="coaches__luxe coaches_type">
										<p class="coaches__name">Люкс</p>
										<div class="coaches__quantity">31</div>
										<div class="coaches__price">от <span class="coaches__price-number">4950</span> <span class="coaches__price-currency">&#x20bd;</span>
										</div>
									</li>
								</ul>
									<ul class="ticket-options">
										<li class="ticket-options__wifi"></li>
										<li class="ticket-options__speed"></li>
										<li class="ticket-options__comfort"></li>
									</ul>
								<a href="PlaceSelection.html" class="place-selection-button">Выбрать места</a>
							</div>
						</div>

						<div class="ticket">
							<div class="train-info">
								<div class="train-info__number">116C</div>
								<div class="train-info__direction"><span class="train-info__direction-left">Нижний Новгород &#8594;</span><br>Москва &#8594;<br> Санкт-Петербург<br>&#171;Волга&#187;</div>
							</div>

							<div class="time-info">
								<div class="time-info__direction-to">
									<div class="time-info__departure">
										<div class="time-info__departure-time">00:41</div>
										<div class="time-info__departure-city">Москва</div>
										<div class="time-info__departure-station">Ленинградский вокзал</div>
									</div>
									<div class="time-info__duration">8 : 32</div>
									<div class="time-info__arrival">
										<div class="time-info__arrival-time">09:13</div>
										<div class="time-info__arrival-city">Санкт-Петербург</div>
										<div class="time-info__arrival-station">Ладожский вокзал</div>
									</div>
								</div>
								<div class="time-info__direction-from">
									<div class="time-info__departure">
										<div class="time-info__departure-time">00:41</div>
										<div class="time-info__departure-city">Москва</div>
										<div class="time-info__departure-station">Ленинградский вокзал</div>
									</div>
									<div class="time-info__duration time-info__duration_reverse">8 : 32</div>
									<div class="time-info__arrival">
										<div class="time-info__arrival-time">09:13</div>
										<div class="time-info__arrival-city">Санкт-Петербург</div>
										<div class="time-info__arrival-station">Ладожский вокзал</div>
									</div>
								</div>
							</div>
							<div class="coach-choice">
								<ul class="coaches">
									<li class="coaches__reserved coaches_type">
										<p class="coaches__name">Плацкарт</p>
										<div class="coaches__quantity">52</div>
										<div class="coaches__price">от <span class="coaches__price-number">2530</span> <span class="coaches__price-currency">&#x20bd;</span>
										</div>
									</li>
									<li class="coaches__compartment coaches_type">
										<p class="coaches__name">Купе</p>
											<ul class="coaches__name-subnames">
												<li class="coaches__name-subname">
													<div class="coaches__name">верхние</div>
													<div class="coaches__quantity">19</div>
													<div class="coaches__price-number">2920 <span class="coaches__price-currency">&#x20bd;</span>
													</div>
												</li>
												<li class="coaches__name-subname">
													<div class="coaches__name">нижние</div>
													<div class="coaches__quantity">5</div>
													<div class="coaches__price-number">3530 <span class="coaches__price-currency">&#x20bd;</span>
													</div>
												</li>
											</ul>
										<div class="coaches__quantity">24</div>
										<div class="coaches__price">от <span class="coaches__price-number">3820</span> <span class="coaches__price-currency">&#x20bd;</span>
										</div>
									</li>
									<li class="coaches__luxe coaches_type">
										<p class="coaches__name">Люкс</p>
										<div class="coaches__quantity">15</div>
										<div class="coaches__price">от <span class="coaches__price-number">4950</span> <span class="coaches__price-currency">&#x20bd;</span>
										</div>
									</li>
								</ul>
								<ul class="ticket-options">
									<li class="ticket-options__wifi"></li>
									<li class="ticket-options__speed"></li>
									<li class="ticket-options__comfort"></li>
								</ul>
								<a href="PlaceSelection.html" class="place-selection-button">Выбрать места</a>
							</div>
						</div>

						<div class="ticket">
							<div class="train-info">
								<div class="train-info__number">116C</div>
								<div class="train-info__direction"><span class="train-info__direction-left">Адлер &#8594;</span><br>Москва &#8594;<br> Санкт-Петербург</div>
							</div>

							<div class="time-info">
								<div class="time-info__direction-to">
									<div class="time-info__departure">
										<div class="time-info__departure-time">00:10</div>
										<div class="time-info__departure-city">Москва</div>
										<div class="time-info__departure-station">Курский вокзал</div>
									</div>
									<div class="time-info__duration">9 : 42</div>
									<div class="time-info__arrival">
										<div class="time-info__arrival-time">09:52</div>
										<div class="time-info__arrival-city">Санкт-Петербург</div>
										<div class="time-info__arrival-station">Ладожский вокзал</div>
									</div>
								</div>
								<div class="time-info__direction-from">
									<div class="time-info__departure">
										<div class="time-info__departure-time">00:10</div>
										<div class="time-info__departure-city">Москва</div>
										<div class="time-info__departure-station">Курский вокзал</div>
									</div>
									<div class="time-info__duration time-info__duration_reverse">9 : 42</div>
									<div class="time-info__arrival">
										<div class="time-info__arrival-time">09:52</div>
										<div class="time-info__arrival-city">Санкт-Петербург</div>
										<div class="time-info__arrival-station">Ладожский вокзал</div>
									</div>
								</div>
							</div>
							<div class="coach-choice">
								<ul class="coaches">
									<li class="coaches__sitting coaches_type">
										<p class="coaches__name">Сидячий</p>
										<div class="coaches__quantity">88</div>
										<div class="coaches__price">от <span class="coaches__price-number">1920</span> <span class="coaches__price-currency">&#x20bd;</span>
										</div>
									</li>
									<li class="coaches__reserved coaches_type">
										<p class="coaches__name">Плацкарт</p>
										<div class="coaches__quantity">52</div>
										<div class="coaches__price">от <span class="coaches__price-number">2530</span> <span class="coaches__price-currency">&#x20bd;</span>
										</div>
									</li>
									<li class="coaches__compartment coaches_type">
										<p class="coaches__name">Купе</p>
											<ul class="coaches__name-subnames">
												<li class="coaches__name-subname">
													<div class="coaches__name">верхние</div>
													<div class="coaches__quantity">19</div>
													<div class="coaches__price-number">2920 <span class="coaches__price-currency">&#x20bd;</span>
													</div>
												</li>
												<li class="coaches__name-subname">
													<div class="coaches__name">нижние</div>
													<div class="coaches__quantity">5</div>
													<div class="coaches__price-number">3530 <span class="coaches__price-currency">&#x20bd;</span>
													</div>
												</li>
											</ul>
										<div class="coaches__quantity">24</div>
										<div class="coaches__price">от <span class="coaches__price-number">3820</span> <span class="coaches__price-currency">&#x20bd;</span>
										</div>
									</li>
									<li class="coaches__luxe coaches_type">
										<p class="coaches__name">Люкс</p>
										<div class="coaches__quantity">15</div>
										<div class="coaches__price">от <span class="coaches__price-number">4950</span> <span class="coaches__price-currency">&#x20bd;</span>
										</div>
									</li>
								</ul>
								<ul class="ticket-options">
									<li class="ticket-options__wifi"></li>
									<li class="ticket-options__speed"></li>
									<li class="ticket-options__comfort"></li>
								</ul>
								<a href="PlaceSelection.html" class="place-selection-button">Выбрать места</a>
							</div>
						</div>

						<div class="ticket">
							<div class="train-info">
								<div class="train-info__number">116C</div>
								<div class="train-info__direction"><span class="train-info__direction-left">Адлер &#8594;</span><br>Москва &#8594;<br> Санкт-Петербург</div>
							</div>

							<div class="time-info">
								<div class="time-info__direction-to">
									<div class="time-info__departure">
										<div class="time-info__departure-time">00:10</div>
										<div class="time-info__departure-city">Москва</div>
										<div class="time-info__departure-station">Курский вокзал</div>
									</div>
									<div class="time-info__duration">9 : 42</div>
									<div class="time-info__arrival">
										<div class="time-info__arrival-time">09:52</div>
										<div class="time-info__arrival-city">Санкт-Петербург</div>
										<div class="time-info__arrival-station">Ладожский вокзал</div>
									</div>
								</div>
								<div class="time-info__direction-from">
									<div class="time-info__departure">
										<div class="time-info__departure-time">00:10</div>
										<div class="time-info__departure-city">Москва</div>
										<div class="time-info__departure-station">Курский вокзал</div>
									</div>
									<div class="time-info__duration time-info__duration_reverse">9 : 42</div>
									<div class="time-info__arrival">
										<div class="time-info__arrival-time">09:52</div>
										<div class="time-info__arrival-city">Санкт-Петербург</div>
										<div class="time-info__arrival-station">Ладожский вокзал</div>
									</div>
								</div>
							</div>
							<div class="coach-choice">
								<ul class="coaches">
									<li class="coaches__sitting coaches_type">
										<p class="coaches__name">Сидячий</p>
										<div class="coaches__quantity">88</div>
										<div class="coaches__price">от <span class="coaches__price-number">1920</span> <span class="coaches__price-currency">&#x20bd;</span>
										</div>
									</li>
									<li class="coaches__reserved coaches_type">
										<p class="coaches__name">Плацкарт</p>
										<div class="coaches__quantity">52</div>
										<div class="coaches__price">от <span class="coaches__price-number">2530</span> <span class="coaches__price-currency">&#x20bd;</span>
										</div>
									</li>
									<li class="coaches__compartment coaches_type">
										<p class="coaches__name">Купе</p>
											<ul class="coaches__name-subnames">
												<li class="coaches__name-subname">
													<div class="coaches__name">верхние</div>
													<div class="coaches__quantity">19</div>
													<div class="coaches__price-number">2920 <span class="coaches__price-currency">&#x20bd;</span>
													</div>
												</li>
												<li class="coaches__name-subname">
													<div class="coaches__name">нижние</div>
													<div class="coaches__quantity">5</div>
													<div class="coaches__price-number">3530 <span class="coaches__price-currency">&#x20bd;</span>
													</div>
												</li>
											</ul>
										<div class="coaches__quantity">24</div>
										<div class="coaches__price">от <span class="coaches__price-number">3820</span> <span class="coaches__price-currency">&#x20bd;</span>
										</div>
									</li>
									<li class="coaches__luxe coaches_type">
										<p class="coaches__name">Люкс</p>
										<div class="coaches__quantity">15</div>
										<div class="coaches__price">от <span class="coaches__price-number">4950</span> <span class="coaches__price-currency">&#x20bd;</span>
										</div>
									</li>
								</ul>
								<ul class="ticket-options">
									<li class="ticket-options__wifi"></li>
									<li class="ticket-options__speed"></li>
									<li class="ticket-options__comfort"></li>
								</ul>
								<a href="PlaceSelection.html" class="place-selection-button">Выбрать места</a>
							</div>
						</div>
					</div>

					<div class="pagination">
						<div class="angle-back"><i class="fas fa-chevron-left"></i></div>
						<ul class="pagination-pages">
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
						</ul>
						<div class="angle-forward"><i class="fas fa-chevron-right"></i></div>
					</div>

				</main>
			</div>
		</div>

		<footer class="footer">
			<div class="footer-top wrapper">
				<div class="footer-top-contacts">
					<h3 class="footer-top-title">Свяжитесь с нами</h3>
					<ul class="footer-top-contacts-list">
						<li class="footer-top-phone"><a href="tel:+78000000000">8 (800) 000 00 00</a></li>
						<li class="footer-top-email"><a href="mailto:inbox@mail.ru">inbox@mail.ru</a></li>
						<li class="footer-top-skype"><a href="skype:tu.train.tickets?call">tu.train.tickets</a></li>
						<li class="footer-top-address">г.Москва<br>ул.Московская 27-35<br>555 555</li>
					</ul>
				</div>
				<div class="footer-top-social">
					<h3 class="footer-top-title">Подписка</h3>
					<p class="footer-top-text">Будьте в курсе событий</p>
					<form class="footer-top-social-form" action="#">
						<input class="footer-top-social-email" type="email" name="email" placeholder="e-mail">
						<input class="footer-top-social-submit" type="submit" name="submit">
					</form>
					<div class="footer-top-social-links">
						<h3 class="footer-top-title">Подписывайтесь на нас</h3>
						<ul class="footer-top-links">
							<li><a class="youtube" href="#"></a></li>
							<li><a class="linkedIn" href="#"></a></li>
							<li><a class="google" href="#"></a></li>
							<li><a class="facebook" href="#"></a></li>
							<li><a class="twitter" href="#"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-bottom wrapper" id="contacts">
				<a class="logo" href="index.html">Лого</a>
				<div class="totop" onclick='document.getElementById("logo-top").scrollIntoView({behavior: "smooth"});'></div>
				<div class="date">2018 WEB</div>
			</div>
		</footer>
		<script type="text/javascript" src="js/TrainSelection.js"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
	</body>
</html>